.a-select2 {
    color: white;
    margin-left: 15px;
    padding: 6px 12px;
    background-color: #FA4251;
    border-radius: 3px;
    transition: transform .2s;
}

.a-select2:hover {
    color: white;
    background-color: #FA4251;
    transform: scale(1.075);
}

.error-p {
    color: #1a1a1a;
    padding: 8px 10px;
    text-align: center;
    border-radius: 3px;
    background-color: #ef1919;
    width: 100%;

}

.success {
    color: #1a1a1a;
    padding: 10px 15px;
}

.input-group-error {
    width: 100%;
}


/* MY POSTS FILE ========================================================================================== */

.main-content {
    margin: auto;
}


